<form>
    <div class="inputsContainer clear custom-form-container">
        <p class="title">
            Вход
        </p>
        <p class="error-message" ng-if="$ctrl.authorizationError">Ошибка авторизации</p>
        <div class="item">
            <p class="label">Электронная почта</p>
            <input type="email" class="custom-form-input" ng-model="$ctrl.loginForm.email">
        </div>
        <div class="item">
            <p class="label">Пароль</p>
            <input type="password" class="custom-form-input" ng-model="$ctrl.loginForm.password">
        </div>
        <p>
            <input type="submit" value="Войти" ng-click="$ctrl.login()">
        </p>
    </div>
</form>