<section class="advantages scheme" style="background-image: url(img/fon4.png); height: 786px;">
</section>
<br>
<br>
<br>
<br>
<section class="advantages scheme" style="background-image: url(img/fon5.png); height: 817px;">
</section>
<br>
<br>
<br>
<section class="advantages" style="background-image: url(img/fon6.png); height: 744px;">
</section>
<br>
<br>
<br>
<section class="advantages" style="background-image: url(img/fon7.jpg); height: 422px;">
</section>
<section class="feedback">
    <div class="wrapper">
        <h2>К успеху вместе с Идея Банком!</h2>
        <div class="itemsLine clear">
            <div class="item">
                <img src="img/photo_01.png" alt="">
                <p class="title">Владимир Таранущенко</p>
                <p class="age">Директор департамента корпоративного бизнеса</p>
            </div>
            <div id="speech">Дорогие Женщины в Бизнесе! <br><br>


                Приглашаем Вас поучаствовать в совместном проекте «Women's Idea» Идея Банка и Европейского банка реконструкции
                и развития направленного на поддержку женщин Беларуси в сегменте «Малый и Средний Бизнес» для получения
                доступа к финансированию, необходимому для роста собственного бизнеса, а также оказание не финансовой
                поддержки с целью увеличения эффективности, развития и роста компании. <br><br>

                Проект «Women's Idea» будет развиваться, и мы будем уделять внимание не только финансовым мероприятиям для Вас, но и  организации семинаров и конференций.

                <br><br>Мы надеемся, что наш новый проект «Women's Idea» поможет Вам достичь желаемых высот в бизнесе!


            </div>
        </div>
    </div>
</section>