<section class="advantages scheme" style="background-image: url(img/fon4.png); height: 786px;">
</section>
<br>
<br>
<br>
<br>
<section class="advantages scheme" style="background-image: url(img/fon5.png); height: 817px;">
</section>
<br>
<br>
<br>
<section class="advantages" style="background-image: url(img/fon6.png); height: 744px;">
    <p><a href="https://promo.ideabank.by/depozit/#" class="redbutton js_credit">Отправить заявку</a></p>
</section>
<br>
<br>
<br>
<section class="advantages" style="background-image: url(img/fon7.jpg); height: 422px;">
</section>
<section class="feedback">
    <div class="wrapper">
        <h2>К успеху вместе с Идея Банком!</h2>
        <div class="itemsLine clear">
            <div class="item">
                <img src="img/photo_01.png" alt="">
                <p class="title">Владимир Таранущенко</p>
                <p class="age">Директор департамента корпоративного бизнеса</p>
            </div>
            <div id="speech">Дорогие Женщины в Бизнесе! <br><br>


                Приглашаем Вас поучаствовать в совместном проекте «Women's Idea» Идея Банка и Европейского банка реконструкции
                и развития направленного на поддержку женщин Беларуси в сегменте «Малый и Средний Бизнес» для получения
                доступа к финансированию, необходимому для роста собственного бизнеса, а также оказание не финансовой
                поддержки с целью увеличения эффективности, развития и роста компании. <br><br>

                Проект «Women's Idea» будет развиваться, и мы будем уделять внимание не только финансовым мероприятиям для Вас, но и  организации семинаров и конференций.

                <br><br>Мы надеемся, что наш новый проект «Women's Idea» поможет Вам достичь желаемых высот в бизнесе!


            </div>
        </div>
    </div>
</section>
<section class="questions">
    <div class="wrapper">
        <form id="" action="https://webs.ideabank.by:45444/api/Site/req" method="post" onsubmit="yaCounter26299515.reachGoal('otpravka_zayvka'); return true;">
            <div class="inputsContainer clear">
                <div class="item">
                    <input type="text" name="_m13" value="" size="40" class="" placeholder="Как к Вам обращаться" required="required">
                </div>
                <div class="item">
                    <input type="tel" name="_m5" value="" size="40" class="" id="telorder1" placeholder="Ваш телефон" required="required">
                </div>
                <div class="item">
                    <input type="email" name="_m6" value="" size="40" class="" placeholder="Ваш e-mail">
                </div>
            </div>
            <div class="check_item">
                <input type="checkbox" class="agreement" checked="checked" name="_m7" required="required">Я выражаю согласие на получение информации от ЗАО "Идея Банк"<br />
                <a href="https://ideabank.by/politika-konf" target="_blank" class="rules_href">Политика конфиденциальности</a>.
            </div>
            <p>
                <input type="submit" onclick="ga('send', 'event', 'poluchit', 'konsultaciya_depositynew'); yaCounter26299515.reachGoal('konsultaciya_depositynew'); return true;" value="Отправить заявку" class="">
            </p>
            <input name="BDirection" type="hidden" value="131" />
            <input name="_m29" type="hidden" value="" />
        </form>
    </div>
</section>