<p class="title">Список заявок</p>
<div class="request" ng-repeat="request in $ctrl.requestList">
    <h4><a class="label" ui-sref="request({ requestId: request.id})">Заявка № {{ request.id }}</a></h4>
    <p>Пользователь: {{ request.user.firstName }} {{ request.user.lastName }}</p>
    <p>Статус: {{ request.status | requestStatusFilter }}</p>
    <button class="request-button" ng-if="$ctrl.isAdmin() && request.status != 2" ng-click="$ctrl.approveRequest(request)">Принять заявку</button>
    <button class="request-button" ng-if="$ctrl.isAdmin() && request.status != 1" ng-click="$ctrl.rejectRequest(request)">Отклонить заявку</button>
</div>