<p class="title">Список заявок</p>
<div class="request" ng-repeat="request in $ctrl.requestList">
    <h4><a class="label" ui-sref="request({ requestId: request.id})">Заявка № {{ request.id }}</a></h4>
    <p>Пользователь: {{ request.user.firstName }} {{ request.user.lastName }}</p>
    <p>Статус: {{ request.status | requestStatusFilter }}</p>
    <input type="submit" value="Принять заявку" ng-if="$ctrl.isAdmin()" ng-click="$ctrl.approveRequest(request)">
    <input type="submit" value="Отклонить заявку" ng-if="$ctrl.isAdmin()" ng-click="$ctrl.rejectRequest(request)">
</div>